.turns__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 72px;
  align-items: center;
}

.turns__wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 15px 0;
}

.turns__number {
  position: absolute;
  top: 7px;
  left: 9px;
  font-family: Montserrat-Regular;
  font-size: 11px;
  color: #A1A1A1;
}

.turns__city {
  width: 100%;
  display: inline-block;
  font-size: 20px;
  color: #000000;
}

.turns__country {
  margin-top: 3px;
  font-size: 12px;
  color: #737373;
  text-transform: uppercase;
}

.turns__bonus {
  margin-left: 4px;
  font-size: 12px;
  color: #FD8A2E;
  text-transform: uppercase;
}

.turns__player {
  width: 50px;
  height: 50px;
  background-color: rgba(253, 138, 46, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.turns__player--computer {
  background-size: 30px;
  background-image: url("./computer.svg");
}

.turns__player--human {
  background-size: 26px;
  background-image: url("./human.svg");
}

.turns__score {
  padding-top: 2px;
  position: absolute;
  top: 7px;
  right: 7px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FD8A2E;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .turns__item {
    min-height: 102px;
  }

  .turns__wrapper {
    padding: 25px 0;
  }

  .turns__number {
    font-size: 12px;
  }

  .turns__city {
    font-size: 24px;
  }

  .turns__country {
    font-size: 14px;
  }

  .turns__bonus {
    font-size: 14px;
  }

  .turns__player {
    width: 56px;
    height: 56px;
  }

  .turns__player--computer {
    background-size: 32px;
  }

  .turns__player--human {
    background-size: 28px;
  }

  .turns__score {
    padding-top: 4px;
    top: 12px;
    right: 12px;
    width: 28px;
    height: 28px;
    font-size: 18px;
  }
}