.input-bar {
  margin: 20px auto;
}

.input-bar__form {
  padding: 40px;
  background-color: #F7F7F7;
}

.input-bar__text {
  padding: 10px;
  width: 100%;
  font-size: 20px;
  border-radius: 4px;
  background: #FFFFFF;
  border: 2px solid #EDEDED;
}