.guess {
  margin-top: auto;
  margin-bottom: 15px;
  position: relative;
  flex-direction: column;
}

.guess__form {
  padding: 0 15px;
  position: relative;
}

.guess__input {
  padding: 20px;
  width: 100%;
  font-family: Montserrat-Regular;
  font-size: 25px;
  color: #FFFFFF;
  background: #4A7FFF;
  border-radius: 50px;
  border: none;
  outline: none;
}

.guess__input:disabled {
  opacity: 0.6;
}

.guess__button {
  position: absolute;
  right: 20px;
  top: 4px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-image: url("./send.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  background-color: #FACC32;
  border: 1px solid #2558D1;
  box-shadow: -4px 4px 0 0 rgba(0,0,0,0.20);
}

.guess__button:disabled {
  opacity: 0.6;
  box-shadow: -2px 2px 0 0 rgba(0,0,0,0.20);
  border: none;
}

.guess__button:hover {
  background-color: #FAAD32;
}

.guess__button:active {
  box-shadow: -1px 1px 0 0 rgba(0,0,0,0.20);
}

@media (min-width: 768px) {
  .guess {
    margin-bottom: 20px;
  }

  .guess__form {
    padding: 0;
    margin: 0 auto;
    width: 80%;
  }

  .guess__input {
    padding: 30px 30px;
    font-size: 34px;
    border: none;
    outline: none;
  }

  .guess__input:disabled {
    opacity: 0.6;
  }

  .guess__button {
    right: 6px;
    top: 6px;
    width: 90px;
    height: 90px;
    background-size: 32px 32px;
    border: 2px solid #2558D1;
    box-shadow: -6px 6px 0 0 rgba(0,0,0,0.20);
  }
}
