.turns {
  padding: 0;
  overflow-y: scroll;
  list-style: none;
}

@media (min-width: 768px) {
  .turns {
    margin: 0 auto 15px;
    padding-top: 10px;
    width: 80%;
  }
}

@media (min-width: 1280px) {
  .turns {
    width: 700px;
  }
}