.guess__msg-wrapper {
  z-index: 1;
  position: absolute;
  bottom: 80px;
  left: 7px;
  right: 7px;
  display: flex;
}

.guess__message {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #6564F8;
  box-shadow: -3px 5px 0 0 rgba(52,50,250,0.15);
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
}

/* .guess__message--error {
  border: 1px solid #F86499;
} */

.guess__accent {
  color: #FD8A2E;
}

@media (min-width: 768px) {
  .guess__msg-wrapper {
    bottom: 120px;
    left: 20px;
    right: 20px;
  }

  .guess__message {
    padding: 13px;
    font-size: 14px;
  }
}